# Turn on validation, so we can use import:
version: ~> 1.0

import:
- land-of-apps/land-of-apps:travis/ruby-imports.yml

services:
- redis
- postgresql
- node.js
- yarn

before_install:
- sudo apt-get install tree
- sudo apt-get install libldap2-dev
- sudo apt-get install libidn11-dev
- sudo apt-get install -y libicu-dev libidn11-dev libprotobuf-dev protobuf-compiler
- nvm install 12.18.3

script:
- export RAILS_ENV=test
- rails db:setup
- ./bin/rails assets:precompile
- APPMAP=true bundle exec rspec || true

after_script:
-- env DEBUG=true ruby ./upload-appmaps tmp/appmap/rspec
