# Turn on validation, so we can use import:
version: ~> 1.0

services:
- redis
- postgresql
- yarn

install:
- sudo apt-get install libldap2-dev
- sudo apt-get install libidn11-dev
- gem install google-protobuf -v 3.0.0.alpha.2.0 --pre

script:
- export RAILS_ENV=test
- bundle install
- rails db:setup
- ./bin/rails assets:precompile
- bundle exec rspec
