# Turn on validation, so we can use import:
version: ~> 1.0

services:
  - redis
  - postgresql
  - node.js
  - yarn

addons:
  apt:
    packages:
      - libldap2-dev
      - libidn11-dev
      - libicu-dev
      - libidn11-dev
      - libprotobuf-dev
      - protobuf-compiler

script:
  - sudo apt-get install ffmpeg
  - nvm install 12.18.3
  - rails db:setup
  - ./bin/rails assets:precompile
  - bundle exec rspec -f doc || true
