# Turn on validation, so we can use import:
version: ~> 1.0

services:
- redis
- postgresql
- yarn
- node.js

install:
- sudo apt-get install libldap2-dev
- sudo apt-get install libidn11-dev
- sudo apt-get install -y libicu-dev libidn11-dev libprotobuf-dev protobuf-compiler
- sudo n latest
- gem install cld3

script:
- export RAILS_ENV=test
- bundle install
- rails db:setup
- ./bin/rails assets:precompile
- bundle exec rspec
